{% extends "applications_mgmt/base.html" %}

{% block content %}
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ object.name }}</span>
    </div>
  </header>
  <!-- <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">ApplicationsTitle</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">All</a>
      <a class="mdl-navigation__link" href="">Public</a>
      <a class="mdl-navigation__link" href="">Private</a>
    </nav>
  </div> -->
  <main class="mdl-layout__content">
    <div class="page-content">
      <p>Name : {{ object.name }}</p>
      <p>Description : {{ object.description }}</p>
      <p>Scope : {{ object.get_scope_display }}</p>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="location.href='{{ object.app_link }}';">Download</button>
    </div>
    <div class="div_add_button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add_button" onclick="location.href='{% url 'edit' slug=object.slug %}';">
        <i class="material-icons">edit</i>
      </button>
    </div>
  </main>
</div>
{% endblock content %}
