{% extends "applications_mgmt/base.html" %}

{% block content %}
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Applications</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'list' %}">All</a>
        <a class="mdl-navigation__link" href="{% url 'list' %}?scope=public">Public</a>
        <a class="mdl-navigation__link" href="{% url 'list' %}?scope=private">Private</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Applications</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{% url 'list' %}">All</a>
      <a class="mdl-navigation__link" href="{% url 'list' %}?scope=public">Public</a>
      <a class="mdl-navigation__link" href="{% url 'list' %}?scope=private">Private</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <ul class="mdl-list">
      {% for app in object_list %}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">get_app</i>
              <a href="{% url 'detail' slug=app.slug %}">
                {{ app.name }}
              </a>
            </span>
          </li>
      {% empty %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">close</i>
          No applications yet.
        </span>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class="div_add_button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add_button" onclick="location.href='{% url 'add' %}';">
        <i class="material-icons">add</i>
      </button>
    </div>
  </main>
</div>

{% endblock content %}
